body {
    background: linear-gradient(to bottom, #330033, #220022, #110011);
    color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }
  
  body {
    text-decoration: none;
}
.logo img {
    float: left;
	height: 80px;
	width: auto;
	margin-left: 100px;
}

.navbar-custom {
    background-color: #ffd900dc;
    font-family: "Arial", sans-serif;
	
  }



  /*            estilo de la botonera header               */
header nav .botones{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
  
  }

.navbar-custom .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #fff;
}
.link{
	text-decoration: none;
	color: inherit;
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.1rem;
	position: relative;
}

.link:after {
	content: "";
	width: 0;
	height: 4px;
	background-color: aliceblue;
	position: absolute;
	bottom: 0;
	right: 50%;
	transition: all .3s;
	will-change: width;
}

.link:hover::after{
	width: 100%;
	right: 0;
}

/*              imagen de la portada                */
.parallax-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    
}
  
.parallax-image {
    width: 100%;
    height: 150%;
    position: relative;
    z-index: 1;
    transition: transform 10.5s ease-out;
    filter: brightness(0.5);
    background: linear-gradient(to right, #000000, transparent);
    filter: drop-shadow(10 10 10 10);

}
  
.parallax-image:hover {
    transform: scale(2.1);
}
  
.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
}
  
.parallax-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    
  }
  

.h1-shadow {
    text-shadow: 2px 2px 4px rgba(255, 215, 0, 0.8); /* Sombra dorada */
}
  

  /*            parrafo principal               */

.divider {
    height: 1px;
	width: 100%;
	margin: 0 auto;
	margin-top: 3%;
    background-color: #440055;
    box-shadow: 0 0 10px 5px #440055;
  }
  
  
  


.p-index-html {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10vh;
    line-height: 1.4;
    text-shadow: 0 0  22px #ffd9007d;
  }
  


/* Estilos para el cuerpo y el encabezado */

#texto-grande{
	border-top: solid gold 6px;
	border-bottom: solid gold 6px;
	background-color: rgba(0, 0, 0, 0.332);
	border-radius: 5px;
	background: linear-gradient(90deg,rgba(19, 19, 19, 0.079),#00000048,rgba(0, 0, 0, 0.079));
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3); /* fondo negro semitransparente */
  }


h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif; 
	color: white;
}

#youtube{
    margin-top: 5%;
    border-radius: 20px

}

.afa-youtube {
    display: inline-block;
    transform-style: preserve-3d; 
    transition: transform 1.5s; 
    transform: rotateY(360deg);
}

.afa-youtube:hover {
    transform: rotateY(720deg);

}


/* 

#pelota1 {
    position: absolute;
    left: 85%;
    right: 0;
    justify-items: center;
    animation: rebota3 1s alternate infinite ease-out;
}
@keyframes rebota3 {
    0% {
      bottom: 100%;
      height: 70px;
    }
    100% {
      bottom: 600px;

    }
  }

#pelota2{
    position: absolute;
    left: 10%;
    right: 0;
    justify-items: center;
    animation: rebota 0.8s alternate infinite ease-out;
  }

    @keyframes rebota {
        0% {
        bottom: 100%;
        height: 70px;
        }
        100% {
        bottom: 600px;
        }
    } */





/*------------------PAGINA JUGADORES------------------------------ */

.cont-titulos-cajas{
	margin-left: -3% ;
	margin-bottom: 3%;
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	color: rgba(255,255,255,1);
	font-size: 18px;
}

#jugador-form input[type="text"], #jugador-form select {
	border-radius: 5px;
  	width: 250px; /* Ancho deseado para los campos de texto y select */
  	font-size: 20px; /* Tamaño de fuente deseado para los campos de texto y select */
}


  
.cont-cajas {
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	flex-direction: row;
  }

.registro-container{
	display: flex;
	justify-content: center;
	width:	22%;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  


.container-buscar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 340px;
	width:	22%;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#buscar-nombre-input, #buscar-apellido-input, #buscar-posicion-select {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 16rem;
	font-size: 20px;

  }

#buscar-dorsal-input {
	width: 9rem;
	font-size: 1rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

#buscar-jugadores-btn {
	background-color: #4caf50;
	color: #fff;
	border: none;
	justify-content: center;
	width: 50%;
	padding: 5px;
	margin-top: 3rem;
	border-radius: 30px;
	font-size: 1rem;
	
	}

.registro-container form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
  }

.registro-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 22%;
    background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
    opacity: 1;
    top: 55px;
    border: 1px solid rgba(123,123,123,1);
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registro-container form input, .registro-container form #pie_habil {
	width: 80%;
	padding: 5px;
	margin-bottom: 10px;
  }

.registro-container form button {
	margin-left: 25%;
	background-color: #4caf50;
	color: #fff;
	border: none;
	justify-content: center;
	width: 50%;
	padding: 5px;
	margin-top: 5px;
	border-radius: 30px;
	font-size: 1rem;

}

.registro-container form input#dorsal {
	width: 30%;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 1rem;
}

#jugador-form input, #jugador-form select  {
	margin-right: 10px;
	margin-left: 10px;
}

.registro-container form button:hover {
	background-color: #45a049;
}

table {
	margin: 0 auto;  
	justify-content: center;
	margin-top: 30px;
	width: 80%;
	border-collapse: collapse;
}

.tr-titulos th {
	border: solid black 1px;
}

.tr-titulos {
	text-align: center;
	background-color: #1773e3;
	color: #ffffff;
	border-bottom: solid black 2px;
	border-left: solid black 1px;

}


th, td {
	padding: 8px;
}

#jugadores-table td {
	text-align: center;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgba(108, 108, 108, 0.38);
}

/* Estilo para las fila agregadas */

/* Estilo para las filas impares */
#jugadores-body tr.agregado:nth-child(odd) {
	background-color: #abd4ff; /* color de fondo para filas impares */
}
  
  /* Estilo para las filas pares */
#jugadores-body tr.agregado:nth-child(even) {
	background-color: #e0e0e0; /* color de fondo para filas pares */
}




/*--------------------PAGINA CONVOCATORIAS---------------------------- */


#caja-convocatoria {
	background-color: #c9c3c3;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(136, 77, 255, 0.5);
	margin: 20px auto;
	max-width: 400px;
	transition: transform 0.5s ease-out;
  }

#caja-convocatoria:hover {
	transform: scale(1.05);
  }
  

#convocatorias-table td {
	text-align: center;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-left: 1px solid rgba(108, 108, 108, 0.38);
}

/* Estilo para las fila agregadas */

/* Estilo para las filas impares */
#convocatorias-body tr.agregado:nth-child(odd) {
	background-color: #abd4ff; /* color de fondo para filas impares */
}
  
  /* Estilo para las filas pares */
#convocatorias-body tr.agregado:nth-child(even) {
	background-color: #e0e0e0; /* color de fondo para filas pares */

}

.container-filtro-fechas {
	background-color: #c9c3c3;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(136, 77, 255, 0.5);
	margin: 20px auto;
	max-width: 400px;
}





/*---------------------PAGINA 11 inicial--------------------------- */


.container-buscar2{
    margin-left: 39%;
}
#eliminar-jugadores-btn {
    background-color: #e93939;
    color: #fff;
    border: none;
    justify-content: center;
    width: 50%;
    padding: 5px;
    margin-top: 3rem;
    border-radius: 30px;
    font-size: 1rem;

}

#caja-11inicial {
	background-color: #ebebeb;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(153, 102, 255, 0.5);
	margin: 20px auto;
	max-width: 50%;
  }



/*---------------------PAGINA CONTACTOS--------------------------- */
/* Estilos para el contenedor de las cajas transparentes */
.contenedor-cajas {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	flex-direction: row;
  }
  
/* Estilos para el contenedor de los textos */
.contenedor-titulos{
	margin-top: 10%;
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
  }
  

.span-texto{
	font-weight: bolder;
	line-height: 1.6;
	font-size: 18px;
    display: flex;
    padding-left: 0.2vh;
    margin-top: 9vh;
    width: 400px;
    color:rgb(255, 255, 255);
    text-align: center;
	justify-content: center;
}


.caja-transparente1, .caja-transparente2, .caja-transparente3 {
	height: 340px;
	width:	400px;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: transform 5.5s ease-out;
	transition: transform 0.5s ease-in-out;
  }

  .caja-transparente1:hover, .caja-transparente2:hover, .caja-transparente3:hover {
	transform: scale(1.1);
	}

    /* Estilos para el título */
.titulo_de_las_cajas {
	justify-content: space-between;
	color: rgba(255,255,255,1);
	font-size: 36px;
  }

/*------------------------------------------------ */
/*------------------------------------------------ */
/*------------------------------------------------ */





/* Estilos para el boton */
#boton-enviar {
	margin-left: 16vh;
	background-color: #0b50d1;
	border-color: #0c335c78;
	color: #fff;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	border-radius: 30px;
	transition: all 0.2s ease-in-out;
	
	
  }
#boton-enviar:hover {
	background-color: #2a9cff;
	border-color: #25194e89;
	cursor: pointer;
  }

  /* Estilos email */
.email-input{
	height: 2vh;
	width: 30vh;
	margin-left: 6vh;
	margin-right: 5vh;
	margin-top: 1.5vh;
	margin-bottom: 1vh;
	padding: 4px;
	border-radius: 10px;
	border: 0;

}

.container input {
	padding: 100px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
   }
   
.container {
	padding-left: 2vh;
	padding-right: 2vh;
	display: flex;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	text-align: center;
	align-items: center;
   }

.container > p {
	font-size: 17px;
}
  
.checkmark {
	margin-left: 1vh;
	margin-right: 1vh;
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	transition: all 0.3s;
	border-radius: 5px;
   }

   /* cuando el checkbox está seleccionado, añade un fondo azul*/
.container input:checked ~ .checkmark {
	background-color: #47da99;
	animation: pop 0.5s;
	animation-direction: alternate;
   }
   
   /* Crea la marca de verificación / indicador (oculto cuando no está marcado) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
   }
   
   /* "Muestra la marca de verificación cuando está marcado" */
.container input:checked ~ .checkmark:after {
	display: block;
   }
   
   /* "Estilo de la marca de verificación / indicador" */
.container .checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.25em;
	height: 0.5em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
   }

@keyframes pop {
	0% {
	 transform: scale(1);
	}

	50% {
	 transform: scale(0.9);
	}

	100% {
	 transform: scale(1);
	}
	}



/*--------- PAGINA INSTITUCIONAL----------- */
.container-institucional{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.institucional-banner img{
	width: 135vh;
	height: 400px;
	border-radius: 50px;
}

.institucional-banner{
	position: relative;
	border-radius: 50px;
}

.overlay-institucional {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.4);  fondo negro semitransparente */
  }
.contenido-texto {
	background-color: rgba(110, 103, 116, 0.64);
	border-bottom:solid grey 5px;
	border-top:solid grey 5px;
	max-width: 130.5vh;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 3%;
}
.comite h2{
	font-family: 'sigmar', cursive;
	font-size: 40px;
	color: white;
	text-align: center;
}

.comite ul, .comite li{
	padding-right: 40px;
	padding-left: 40px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	line-height: 1.7;

}
.contenido-texto h2 {
	font-family: 'sigmar', cursive;
	font-size: 40px;
	color: white;
	text-align: center;

}
.contenido-texto p {
	padding-right: 40px;
	padding-left: 40px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}


.form-logo {
	text-align: center;
	margin-bottom: 3%;
}

.form-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-input {
	margin-bottom: 15px;
}
  
.form-input input {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: none;
	background-color: #f7f7f7;
	margin-top: 4%;
  }
  
.form-input input:focus {
	background-color: #cfcfcf;
}

.form-boton {
	text-align: center;
	margin-top: 20px;
}
  
.form-boton  button {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #9966ff;
	border: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
  
.form-submit button:hover {
	background-color: #854de5;
  }
/* 			noticias home 		 */
#youtube{
	margin-top: 5%;
	border-radius: 30px;
}



  /* Estilos para los jugadores */
.player {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
  }
 
/* -----------------Estilos para el pie de página--------------------- */
