/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* Estilos para el cuerpo y el encabezado */
body {
	background-image: url(img/fondo-Principal.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    min-height: 100vh;
	justify-content: space-between;
	background-repeat: no-repeat;
}
header {
	background: #ffb347;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #efa032d2, #e6b521cf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	padding: 20px;
	display: flex;
	align-items: center;
	height:	6.389776357827476vh;
	justify-content: space-between;
	
}

.logo img {
	float: left;
	height: 80px;
	width: auto;
	margin-left: 100px;
}

/*hace que el elemento de navegación tome todo el espacio disponible */
nav {
	display: inline-block;
	text-align: center;
	}

nav ul {
	display: flex;
	justify-content: center; /* centra los botones en el nav */
	list-style: none;
/* 	margin: 0;
	padding: 0; */
  }

/* iconos header */
.iconos {
	float: left;
	width: auto;
	margin-right: 10px;
}

.iconos-redes img {
	width: 30px;
	height: 30px;
  }

.iconos-redes {
	display: flex;
	flex-direction: row;
  }
  
.iconos-redes li {
	margin: 0 10px;
  }
/* div ul.iconos-redes img{
	float: right;
	height: 30px;
	width: 30px;
} */

nav li {
	margin: 0 10px;
  }
  
/* estilo de la botonera header */
header nav .botones a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out; /* animacion al sacar el mouse */
  }

/* animacion en hover */
header nav .botones a:hover {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(38, 38, 38, 0));
	color: #fffefe;
	transition: all 0.3s ease-in-out;
  }

.link{
	text-decoration: none;
	color: inherit;
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.1rem;
	position: relative;
}

.link:after {
	content: "";
	width: 0;
	height: 4px;
	background-color: aliceblue;
	position: absolute;
	bottom: 0;
	right: 50%;
	transition: all .3s;
	will-change: width;
}

.link:hover::after{
	width: 100%;
	right: 0;
}



/* Estilos para el cuerpo principal */
/* main {
	margin: 20px;
}
* Estilos para el cuerpo principal */
/* main {
	margin: 20px;
} */
	

.container-banner {
	position: relative;
}

.container-banner h1 {
	position: absolute;
	font-weight: 300;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: #fff;
  }

.app {
	border-top: solid gold 5px;
}
.scaloneta {
	border-bottom: solid gold 5px;
}
.container-banner h1 span {
	font-family: 'Sigmar', cursive;
	font-size: 7rem;
	color: #fff;
	display: block;
	position: relative;
	line-height: 1;
  }

/* ANIMACION TEXTO BANNER */
.container-banner h1 span::before {
	position: absolute;
	content: var(--content);
	background: linear-gradient(90deg,cyan,white,rgba(246, 238, 6, 0.444),white,cyan);
	inset: 0;
	background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
.container-banner img {
	width: 100%;
	height: 89vh;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4); /* fondo negro semitransparente */
  }


h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif; 
	color: white;
}



/*------------------------------------------------ */
/*------------------------------------------------ */
/*------------------------------------------------ */
/* Estilos para el contenedor de las cajas transparentes */
.contenedor-cajas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	flex-direction: row;
  }
  
/* Estilos para el contenedor de los textos */
.all_titulos_de_las_cajas {
	align-items: center;
	display: flex;
    flex-direction: row;
	margin-left: 12%;
    margin-right: 12%;
    justify-content: space-between;
}

.span-texto1, .span-texto2, .span-texto3 {
    display: flex;
    padding-left: 0.2vh;
    margin-top: 9vh;
    width: 400px;
    color:rgb(255, 255, 255);
    text-align: center;
}

/*------------------------------------------------ */
/*------------------------------------------------ */
/*------------------------------------------------ */





  /* Estilos para el contenedor principal */
.caja-transparente1 {
	height: 340px;
	width:	400px;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  

  /* Estilos para el título */
.titulo_de_las_cajas1 {
	justify-content: space-between;
	color: rgba(255,255,255,1);
	font-size: 36px;
  }





/* Estilos para el contenedor principal */
.caja-transparente2{
	height: 340px;
	width:	400px;
	justify-content: space-between;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  

  
  /* Estilos para el título */
.titulo_de_las_cajas2{
	color: rgba(255,255,255,1);
	font-size: 36px;
	padding-left: 1vh;
  }






/* caja invisible 3  */

  /* Estilos para el contenedor principal */
.caja-transparente3{
	height: 340px ;
	width:	400px;
	justify-content: space-between;
	background: linear-gradient(0deg, rgba(179, 179, 179, 0.3), rgba(179, 179, 179, 0.3)), rgba(41, 39, 121, 0.4);
	opacity: 1;
	top: 55px;
	border: 1px solid rgba(123,123,123,1);
	border-radius: 30px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  


  /* Estilos para el título */
  .titulo_de_las_cajas3{
	margin-left: -10vh;
	color: rgba(255,255,255,1);
	top: 0px;
	font-size: 36px;
	top: 0;
	left: 0;
	
  }


/* Estilos para el boton */

  #boton-enviar {
	margin-left: 14vh;
	background-color: #0b50d1;
	border-color: #0c335c78;
	color: #fff;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: all 0.2s ease-in-out;
	border-radius: 30px;
  }
  #boton-enviar:hover {
	background-color: #2a9cff;
	border-color: #25194e89;
	cursor: pointer;
  }

  /* Estilos email */
.email-input{
	margin-left: 8vh;
	margin-right: 7vh;
	margin-top: 3vh;
	padding: 4px;
	border-radius: 10px;
	border: 0;

}


.container input {
	padding: 100px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
   }
   
.container {
	padding-left: 2vh;
	padding-right: 2vh;
	display: flex;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	text-align: center;
	align-items: center;
   }

.container > p {
	font-size: 17px;
}
  
.checkmark {
	margin-left: 1vh;
	margin-right: 1vh;
	position: relative;
	top: 0;
	left: 0;
	height: 1.3em;
	width: 1.3em;
	background-color: #ccc;
	transition: all 0.3s;
	border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #47da99;
	animation: pop 0.5s;
	animation-direction: alternate;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
   }
   
   /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
   }
   
   /* Style the checkmark/indicator */
.container .checkmark:after {
	left: 0.45em;
	top: 0.25em;
	width: 0.25em;
	height: 0.5em;
	border: solid white;
	border-width: 0 0.15em 0.15em 0;
	transform: rotate(45deg);
   }

@keyframes pop {
	0% {
	 transform: scale(1);
	}

	50% {
	 transform: scale(0.9);
	}

	100% {
	 transform: scale(1);
	}
	}



/* Estilos para el pie de página */
footer {
	color: whitesmoke;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 14vh;
	background: #ffb347;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffeaaa88, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffcc3352, #ffb247bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	text-align: center;
}

.footer-index{
	color: whitesmoke;
	width: 100%;
	position: relative;
	bottom: 0;
	height: 14vh;
	background: #ffb347;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffeaaa88, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffcc3352, #ffb247bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	text-align: center;
}

p{
	color: #fff;
}

footer p {
    color: #fff;
	font-size: 1.2rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	margin-bottom: -1vh;
	padding-left: 5vh;
}


.redes_footer a img {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: -1vh;
  }



